@import "@design-system";

.textarea {
  flex: 3 0 auto;
  border-radius: 10px;
  overflow: hidden;

  @include input-appearance;

  &_scrollable {
    .textarea__element {
      padding: 10px 10px 10px 14px;
    }
  }
}

.textarea__element {
  padding: 10px 14px;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  line-height: 1.3;

  @include input-font;
}
