@import "reset.scss";
@import "foundation/mixins";

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100svh;

  @include pretty-scrollbar;
}

*,
*::before,
*::after {
  font-family: inherit;
}
