@import "@design-system";

.home__empty-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: calc(100svh - 154px);
}

.home__empty-view-text {
  color: $gray-light;
}
