.snackbar-animation {
  position: fixed;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  opacity: 0;
  transition:
    0.3s transform,
    0.3s opacity;

  &_active {
    transform: translateX(-50%) translateY(100px);
    opacity: 1;
  }
}
