.snackbar-animation {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50px);
  opacity: 0;
  transition:
    0.3s transform,
    0.3s opacity;

  &_active {
    transform: translate(-50%, 35px);
    opacity: 1;
  }
}
