@import "@design-system";

.note-modal {
  padding: 50px;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.2);
  height: 80svh;
  width: 60svw;
  display: flex;
  flex-direction: column;
}

.note-modal__title-container {
  margin-bottom: 20px;
}

.note-modal__content-container {
  margin-bottom: 20px;
  flex: 3 0 auto;

  & .textarea {
    height: 100%;
  }
}

.note-modal__footer {
  display: flex;
  gap: 12px;
}

.note-modal__footer-save-btn {
  flex: 3 0 auto;
}

.note-modal__footer-delete-btn {
  flex: 0 3 auto;
}
